body {
  margin: 0;
  padding: 0;
}
/*First section*/
.home {
  background-color: #1f2937;
  color: white;
}

.logo {
  width: 150px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}

.hero {
  margin-top: 50px;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
}
.title-subtext {
  width: 400px;
}
button {
  background-color: #3882f6;
  color: white;
}
#laptop {
  width: 400px;
}

/*Some random info */
.info {
  background-color: white;
}

.quote {
  background-color: #e5e7eb;
}
