body {
  margin: 0;
  padding: 0;
}
/*First section*/
.home {
  background-color: #1f2937;
  color: white;
}

.logo {
  width: 150px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}

.hero {
  margin-top: 50px;
  padding: 0 100px 50px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin: 18px 0;
}

.subtext {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 18px;
}
button {
  background-color: #3882f6;
  border: 1px solid #3882f6;
  padding: 10px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.4s;
}
button:hover {
  background-color: rgba(113, 130, 226, 0.952);
}
button:active {
  color: black;
  background-color: rgba(241, 241, 241, 0.623);
}

#laptop {
  width: 400px;
}

/*Some random info */
.info {
  margin: 0;
  padding: 50px 150px;
}
h2 {
  margin: 0;
  padding-bottom: 40px;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
}
.cards {
  display: flex;
  justify-content: center;
  text-align: center;
}

figure {
  margin: 0;
}

figure img {
  width: 100px;
}
/*Quote section */
.quote {
  background-color: #e5e7eb;
  margin: 0;
  padding: 50px 200px;
}
.quote h3 {
  margin: 0;
  font-size: 36px;
  font-weight: 200;
  font-style: italic;
  color: #1f2937;
  padding-left: 20px;
}

.quote p {
  text-align: right;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}
